.header .topmost {
	display: flex;
	align-items: center;
}

.header .dept {
	font-size: xx-large;
}

.header .college {
	font-size: medium;
}

.header .logo {
	height: 130px;
	width: 130px;
	/* position: absolute; */
	top: 13%;
	left: 29%;
	z-index: 2;
}
