.admissions_card {
	display: flex;
	justify-content: space-around;
}

.admissions_card > span {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: left;
	max-width: 40%;
}
